{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0, "") }}

{% macro menu_links(items, attributes, menu_level, parentname) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('main-nav') }}>
    {% else %}
      <ul class="main-nav__sub">
    {% endif %}
      {% for item in items %}
        {%
          set classes = [
            'main-nav__item',
            item.is_expanded ? 'expanded',
            item.is_collapsed ? 'collapsed',
            item.in_active_trail ? 'active',
            item.below ? 'parent'
          ]
        %}
        {# Give top-level items unique IDs for styling. #}
        {% if menu_level < 3 %}
          {% set itemid = 'main-nav-' ~ parentname ~ menus.format_id(item.title) %}
        {% endif %}
        {# Use heading tags (from h3 to h6) for structure in parent items, but not child/"leaf" items. #}
        {% if menu_level < 4 and item.below %}
          <li{{ item.attributes.addClass(classes).setAttribute('id', itemid) }}>
            <h{{ menu_level + 3 }}>{{ link(item.title, item.url) }}</h{{ menu_level + 3 }}>
        {% else %}
          <li{{ item.attributes.addClass(classes).setAttribute('id', itemid) }}>
             {{ link(item.title, item.url) }}
        {% endif %}
      
        {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1, menus.format_id(item.title) ~ "-") }}
            {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro format_id(input) %}
  {{- input|lower|replace({'.':'', ',':'', ' &':'', ':':'', '(':'', ')':'', ' ':'-' }) -}}
{% endmacro %}