{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 * This file was copied from the default template and altered to add an "All" tab to the list.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
{% if attributes -%}
  <nav{{ attributes }}>
{% endif %}

  <{{ list.type }}{{ list.attributes }}>
    <li{{ rows[0].attributes }}><a href="/people/subject-specialists/">All</a></li>
    {% for row in rows %}
      <li{{ row.attributes }}>{{ row.content }}</li>
    {% endfor %}

  </{{ list.type }}>

{% if attributes -%}
  </nav>
{% endif %}
